<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name=" HRM Application Test Automation Test">

<listeners>
<listener class-name="com.hrm.generics.CustomListener"/>


</listeners>
  <test  name="  HRM Application TestCases">

  
    <classes>
      <class name="com.hrm.test.LoginPageTest"/>
       <class name="com.hrm.test.OpenPIMPageTest"/>
      <class name="com.hrm.test.AddEmployeePageTest"/>
      
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->